body{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(30,50,40,0.5);
    width: 400px;
    height: 300px;
    margin: auto; 
    margin-top: 100px;
    background-color: #f0f8ff;
}
h1{
    text-align: center;
    text-shadow: 0px 0px 10px rgba(255,0,0,1);
}
input{
    margin-left: 5px;
    width: 90%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
}
.submit{
    padding:15px;
    margin-left: 5px;
    border: 0px;
    border-radius: 10px;
    background-color: rgb(12, 137, 196);
    color: white;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgba(30,50,40,0.5);
    cursor: pointer;
}
.newuser{
    margin-left: 135px;
}

.error{
    color: red;
    font-size: 14px; 
    margin-top: 2px; 
    margin-left: 5px;
}