            
            body{
                font-family: 'Arial', sans-serif;
                margin-left: 30px;
                background-color: #f0f8ff;
            }
            table{
                margin-left: 20px;
                width: 50%;
            }
            th{
                text-decoration: underline;
                text-align: left;
                padding: 10px;
            }
            tr, td {
                padding: 10px;
                font-size: 20px;
            }
            input{
                padding: 10px;
                width:100%;
                border: 1px solid black;
                border-radius: 10px;
            }
            input[type="submit"], input[type="reset"]{
                width: 100px;
                font-size: 15px;
                cursor: pointer;
                margin-top: 20px;
                margin-right: 40px;
                transition: 5ms;   
            }
            input[type="submit"]:hover, input[type="reset"]:hover {
                cursor: pointer;
                background-color: black;
                color: white;
                transition: 0.15s;
            }
            textarea{
                padding: 10px;
                width:100%;
                border: 1px solid black;
                border-radius: 10px;
            }
            h1 {
                letter-spacing: 1px;
                text-decoration: underline;
            }