<!DOCTYPE html>
<html>
    <head>
        <title>Admin Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Login.css')}}">
    </head>
    <body>
        <h1>Admin Login</h1>
        <form action="/admin_login" method="post">
            <input type="text" id="admin_username" name="admin_username" placeholder="Username" autocomplete="off" required><br><br>
            <input type="password" id="admin_password" name="admin_password" placeholder="Password" autocomplete="off" required><br><br>
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
            <button type= "submit" class="submit">Login</button>
        </form>
    </body>
</html>