<!DOCTYPE html>
<html>
    <head>
        <title>Change Room Request</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='SignUp.css')}}">
    </head>
    <body>
        <h1>Change Room Request</h1>
        <form action="{{ url_for('submit_change_room') }}" method="post" autocomplete="off">
            <table>
                <tr>
                    <td><label>Student Name:</label></td>
                    <td><input type="text" value="{{ student.Student_name }}" readonly></td>
                </tr>

                <tr>
                    <td><label for="student_id">Student ID:</label></td>
                    <td><input type="text" id="student_id" name="student_id" value="{{ student.Student_id }}" readonly></td>
                </tr>

                <tr>
                    <td><label>Hostel Name:</label></td>
                    <td><input type="text" value="{{ student.Hostel_name }}" readonly></td>
                </tr>

                <tr>
                    <td><label for="current_room">Current Room:</label></td>
                    <td><input type="text" id="current_room" name="current_room" value="{{ student.Room_no }}" readonly></td>
                </tr>
                <tr>
                    <td><label for="requested_room">Requested Room</label></td>
                    <td><input type="text" id="requested_room" name="requested_room" required></td>
                </tr>
                <tr>
                    <td><label for="reason">Reason for Change:</label></td>
                    <td><textarea id="reason" name="reason" rows="4" cols="30" required></textarea></td>
                </tr>
            </table>
            <input type="submit" value="Submit Request" style="width: 150px;">
            <input type="reset" value="Reset" style="width: 100px;">
        </form>
    </body>
</html>