<!DOCTYPE html>
<html>
    <head>
        <title>Update Hostel</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='SignUp.css') }}">
    </head>
    <body>
        <h1>Update Hostel Information</h1>
        <form action="{{ url_for('perform_hostel_update') }}" method="post" autocomplete="off">
            <table>
                <tr>
                    <td><label for="hostel_name">Hostel Name:</label></td>
                    <td>
                        <input list="hostels" name="hostel" id="hostel" placeholder="Select your hostel" required>
                        <datalist id="hostels">
                            <option value="Freshers Block">Freshers Block</option>
                            <option value="Aryabatta Block">Aryabatta Block</option>
                            <option value="Ratan Tata Block">Ratan Tata Block</option>
                            <option value="MSR Gowramma">MSR Gowramma</option>
                        </datalist>
                    </td>
                </tr>
                <tr>
                    <td><label for="new_capacity">Capacity to add(step of 3):</label></td>
                    <td><input type="number" id="new_capacity" name="new_capacity" step="3" required></td>
                </tr>
            </table>
            <input type="submit" value="Update Hostel" style="width: 150px;">
        </form>
    </body>
</html>