<!DOCTYPE html>
<html>
    <head>
        <title>Warden Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Login.css') }}">
    </head>
    <body>
        <h1>Warden Login</h1>
        <form action="/warden_login" method="post">
            <input type="text" id="warden_username" name="warden_username" placeholder="Username" autocomplete="off" required><br><br>
            <input type="password" id="warden_password" name="warden_password" placeholder="Password" autocomplete="off" required><br><br>
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
            <button class="submit">Login</button>
            <a class="newuser"href="#" onclick="alert('For new registration, please contact the admin.')">New User? Register Here</a>
        </form>
    </body>
</html>